
html {
    font-size: 62.5%;
    --font: 'Abril Fatface', serif;
    --cream: #FAF8F1;
    --dark_cream:#FAEAB1;
    --red: #ff2727;
    --dark_red: #cf0000;
    --hover-color: #f8e398;
}

body {
    margin: 0;
    font-size: 1.6rem;
    background-color: var(--cream);
}

.nav {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark_cream);
}



.nav h1 {
    margin: 1.5rem;
    font-size: 4rem;
    color: white;
}

.nav-principal {
    display: flex;
    max-width: 100%;
}


.nav-principal a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: var(--font);
    font-size: 2rem;
    font-weight: 500;
    color: var(--red);
    padding: 1.5rem;

}

.nav-principal a:hover {
    background-color: var(--hover-color);
    border-radius: .5rem;
    color: var(--dark_red);
}

img {
    width: 100%;
}

.slider {
}
.slider--inner {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.carousel .products {
    
}

.box {
    background-color: black;
    color: var(--dark_cream);
    font-family: var(--font);
    margin: 1rem;
    
}