
html {
    font-size: 62.5%;
    --font: 'Abril Fatface', serif;
    --cream: #FAF8F1;
    --dark_cream:#FAEAB1;
    --red: #ff2727;
    --dark_red: #A94438;

}

body {
    margin: 0;
    font-size: 1.6rem;
    background-color: var(--cream);
}

.nav {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bg {
    background-color: var(--dark_cream);
}

.nav h1 {
    margin: 1.5rem;
}

.nav-principal {
    display: flex;
}
.nav-principal a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: var(--font);
    font-size: 2rem;
    font-weight: 500;
    color: var(--red);
    padding: 1.5rem;
    
}

.nav-principal:hover {
    color: var(--dark_red);
}

.box {
    background-color: black;
    color: var(--dark_cream);
    font-family: var(--font);
    margin: 1rem;
    
}